# Server Settings
APP_NAME=Example
DEBUG=True
PORT=8000
APP_URL=http://localhost
FRONTEND_URL=http://localhost:5000
API_VERSION=v1

# Django secret key
SECRET_KEY="django-insecure-change-me-in-production"

# JWT settings
JWT_SECRET_KEY="very-secret-key"

# Database settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Mail settings
MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=user
MAIL_PASSWORD=password
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="cliuno@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Redis settings
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
